.deps/
.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
lcmaps-plugins-pool-accounts-*.tar.gz
*.lo
*.o
liblcmaps_anonymous_accounts.la
libtool
ltmain.sh
missing
src/config.h
src/config.h.in~
src/stamp-h1
m4
